<config>
    <modules>
        <Commercers_Autocategory>
            <version>1.0.0</version>
        </Commercers_Autocategory>
    </modules>
    <global>
        <helpers>
            <commercers_autocategory>
                <class>Commercers_Autocategory_Helper</class>
            </commercers_autocategory>
        </helpers>
        <blocks>
            <autocategory>
                <class>Commercers_Autocategory_Block</class>
            </autocategory>
        </blocks>
        <models>
            <autocategory>
                <class>Commercers_Autocategory_Model</class>
                <resourceModel>autocategory_resource</resourceModel>
            </autocategory>
            <autocategory_resource>
                <class>Commercers_Autocategory_Model_Resource</class>
                <entities>
                    <rule>
                        <table>commercers_autocategory_rule</table>
                    </rule>
                </entities>
            </autocategory_resource>
        </models>
        <resources>
            <commercers_autocategory_setup>
                <setup>
                    <module>Commercers_Autocategory</module>
                    <class>Commercers_Autocategory_Model_Resource_Setup</class>
                </setup>
            </commercers_autocategory_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Commercers_Autocategory after="Mage_Adminhtml">Commercers_Autocategory_Adminhtml</Commercers_Autocategory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <autocategory>
                    <file>commercers/autocategory.xml</file>
                </autocategory>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <autocategory_customtab_observer>
                        <type>model</type>
                        <class>autocategory/observer</class>
                        <method>addCategoryTab</method>
                    </autocategory_customtab_observer>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_before>
                <observers>
                    <autocategory_category_save>
                        <type>model</type>
                        <class>autocategory/observer</class>
                        <method>autoCategorySave</method>
                    </autocategory_category_save>
                </observers>
            </catalog_category_save_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <commercers_autocategory_run>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>autocategory/cron::assignProduct</model>
                </run>
            </commercers_autocategory_run>
        </jobs>
    </crontab>
    <default>
        <autocategory>
            <general>
                <enabled>1</enabled>
                <flattable>0</flattable>
            </general>
        </autocategory>
    </default>
</config>