<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Commercers_AutoCategory::commercers_autocategory" title="Auto Category" sortOrder="51"/>
            </resource>
<!--            <resource id="Magento_Backend::stores">-->
<!--                <resource id="Magento_Backend::stores_settings">-->
<!--                    <resource id="Magento_Config::config">-->
<!--                        <resource id="Commercers_AutoCategory::commercers_autocategory_config" title="Auto Category Config"/>-->
<!--                    </resource>-->
<!--                </resource>-->
<!--            </resource>-->
        </resources>
    </acl>
</config>