<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin"> <!-- vì là phần backend nên chỉ có admin mới có thể gọi -->
        <route id="backend" frontName="backend">
            <module name="Commercers_AutoContent"/>
        </route>
    </router>
</config>
